* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0a22f4;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 506px;
}

ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 20px;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
    font-family: "Helvetica-Neue-55", sans-serif;
  }
}

li {
  &:nth-child(1) {
    a {
      &:hover {
        border-bottom: 2px solid white;
        padding: 5px 0;
      }
    }
  }

  &:nth-child(2) {
    a {
      &:hover {
        border-bottom: 2px solid white;
        padding: 5px 0;
      }
    }
  }

  &:nth-child(3) {
    a {
      &:hover {
        border-bottom: 2px solid white;
        padding: 5px 0;
      }
    }
  }

  &:nth-child(4) {
    a {
      &:hover {
        border-bottom: 2px solid white;
        padding: 5px 0;
      }
    }
  }

  &:nth-child(5) {
    a {
      &:hover {
        border-bottom: 2px solid white;
        padding: 5px 0;
      }
    }
  }

  &:nth-child(6) {
    a {
      color: black;
      background-color: #fff;
      padding: 18px 36px;
      &:hover {
        color: #0a22f4;
      }
    }
  }
}

section {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 1439px;
  text-align: left;
  font-size: 32px;
  font-family: "Helvetica-Neue-55", sans-serif;
}

.services {
  margin-top: 60px;
  display: flex;
  gap: 25px;
  .square {
    background-color: #f9f9f9;
    width: 70px;
    height: 70px;
    margin-bottom: 40px;
    &:hover {
      background-color: #0a22f4;
    }
  }

  .ser {
    max-width: 463px;
    min-height: 235px;
    h3 {
      font-size: 22px;
      font-family: "Helvetica-Neue-55", sans-serif;
      margin-bottom: 20px;
    }
  }
  p {
    font-size: 16px;
    font-family: "Helvetica-Neue-55", sans-serif;
  }
}
